<h2><%= title[2]+' ('+guildSettings.guild.name+')' %></h2>
<% var roles = guildSettings.guild.roles.array().sort((a,b) => { %>
    <% return b.calculatedPosition - a.calculatedPosition; %>
<% }); %>
<% var settings = guildSettings.settings; %>
<% function invertColor(hex) {
    if (hex.indexOf('#') === 0) {
        hex = hex.slice(1);
    }
    if (hex.length === 3) {
        hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
    }
    var r = parseInt(hex.slice(0, 2), 16),
        g = parseInt(hex.slice(2, 4), 16),
        b = parseInt(hex.slice(4, 6), 16);
        return (r * 0.299 + g * 0.587 + b * 0.114) > 186
            ? '#000000'
            : '#FFFFFF';
} %>
    <form action="/user/roles?id=<%- guildSettings.guild.id %>" method="post">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Ранг Rainbow Six Siege</th>
          <th>Роль в Discord</th>
        </tr>
      </thead>
      <tbody>
        <%  Object.keys(settings).forEach(elem => {
          if (elem == 'diamondStab') {return;} %>
          <tr>
          <td><%- elem %></td>
          <td><select class="form-control" name="<%- elem %>">
            <% roles.forEach((e, i, a) => { %>
              <% if (e.hexColor != '#000000') {
                var color = e.hexColor;
              } else {
                var color = '#FFFFFF';
              } %>
                <% if((i+1 == a.length && !settings[elem]) || e.id == settings[elem]) { %>
                  <option style="color: <%= invertColor(color) %>; background-color: <%= color %>" selected value="<%= e.id %>"><%= e.name %></option>
                <% } else { %>
                  <option style="color: <%= invertColor(color) %>; background-color: <%= color %>" value="<%= e.id %>"><%= e.name %></option>
                <% } %>
              <% }); %>
          </select></td>
        </tr>
        <% }); %>
        <tr>
          <td><h5>Игнорировать снижение звания после достижения Diamond?</h5></td>
          <td><select class="form-control" name="diamondStab">
            <option <% if (settings.diamondStab == '0') { %> selected <% } %> value="0">(нет)</option>
            <option <% if (settings.diamondStab == '1') { %> selected <% } %> value="1">(да)</option>
          </select></td>
        </tr>
        <tr>
          <td colspan="2"><button type="submit" class="btn btn-primary">Сохранить</button></td>
        </tr>
      </tbody>
    </table>
  </form>