<h2><%= title[2]+' ('+guildSettings.guild.name+')' %></h2>
<% var roles = guildSettings.guild.roles.array().sort((a,b) => { %>
  <% if (a.calculatedPosition < b.calculatedPosition) { %>
    <% return 1; %>
    <% } %>
    <% if (a.calculatedPosition > b.calculatedPosition) { %>
    <% return -1; %>
    <% } %>
<% }); %>
<% var settings = guildSettings.settings; %>

    <form action="/user/roles?id=<%- guildSettings.guild.id %>" method="post">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Ранг Rainbow Six Siege</th>
          <th>Роль в Discord</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Diamond</td>
          <td><select class="form-control" name="Diamond">
            <% roles.forEach((e, i, a) => { %>
                <% if((i+1 == a.length && !settings.Diamond) || e.id == settings.Diamond) { %>
                  <option selected value="<%= e.id%>"><%= e.name %></option>
                <% } else { %>
                  <option value="<%= e.id%>"><%= e.name %></option>
                <% } %>
              <% }); %>
          </select></td>
        </tr>
        <tr>
          <td>Platinum</td>
          <td><select class="form-control" name="Platinum">
            <% roles.forEach((e, i, a) => { %>
                <% if((i+1 == a.length && !settings.Platinum) || e.id == settings.Platinum) { %>
                  <option selected value="<%= e.id%>"><%= e.name %></option>
                <% } else { %>
                  <option value="<%= e.id%>"><%= e.name %></option>
                <% } %>
              <% }); %>
          </select></td>
        </tr>
        <tr>
          <td>Gold</td>
          <td><select class="form-control" name="Gold">
            <% roles.forEach((e, i, a) => { %>
                <% if((i+1 == a.length && !settings.Gold) || e.id == settings.Gold) { %>
                  <option selected value="<%= e.id%>"><%= e.name %></option>
                <% } else { %>
                  <option value="<%= e.id%>"><%= e.name %></option>
                <% } %>
              <% }); %>
          </select></td>
        </tr>
        <tr>
          <td>Silver</td>
          <td><select class="form-control" name="Silver">
            <% roles.forEach((e, i, a) => { %>
                <% if((i+1 == a.length && !settings.Silver) || e.id == settings.Silver) { %>
                  <option selected value="<%= e.id%>"><%= e.name %></option>
                <% } else { %>
                  <option value="<%= e.id%>"><%= e.name %></option>
                <% } %>
              <% }); %>
          </select></td>
        </tr>
        <tr>
          <td>Bronze</td>
          <td><select class="form-control" name="Bronze">
            <% roles.forEach((e, i, a) => { %>
                <% if((i+1 == a.length && !settings.Bronze) || e.id == settings.Bronze) { %>
                  <option selected value="<%= e.id%>"><%= e.name %></option>
                <% } else { %>
                  <option value="<%= e.id%>"><%= e.name %></option>
                <% } %>
              <% }); %>
          </select></td>
        </tr>
        <tr>
          <td>Copper</td>
          <td><select class="form-control" name="Copper">
            <% roles.forEach((e, i, a) => { %>
                <% if((i+1 == a.length && !settings.Copper) || e.id == settings.Copper) { %>
                  <option selected value="<%= e.id%>"><%= e.name %></option>
                <% } else { %>
                  <option value="<%= e.id%>"><%= e.name %></option>
                <% } %>
              <% }); %>
          </select></td>
        </tr>
        <tr>
          <td>Unranked</td>
          <td><select class="form-control" name="Unranked">
            <% roles.forEach((e, i, a) => { %>
                <% if((i+1 == a.length && !settings.Unranked) || e.id == settings.Unranked) { %>
                  <option selected value="<%= e.id%>"><%= e.name %></option>
                <% } else { %>
                  <option value="<%= e.id%>"><%= e.name %></option>
                <% } %>
              <% }); %>
          </select></td>
        </tr>
        <tr>
          <td><h5>Игнорировать снижение звания после достижения Diamond?</h5></td>
          <td><select class="form-control" name="diamondStab">
            <option <% if (settings.diamondStab == '0') { %> selected <% } %> value="0">(нет)</option>
            <option <% if (settings.diamondStab == '1') { %> selected <% } %> value="1">(да)</option>
          </select></td>
        </tr>
        <tr>
          <td colspan="2"><button type="submit" class="btn btn-primary">Сохранить</button></td>
        </tr>
      </tbody>
    </table>
  </form>